<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 152.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... one
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ...done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp312-cp312-linux_x86_64.whl size=1160111 sha256=9a292678e92b4ecbf8ccff417795a5bef8297f70e9b1724df8a7e6bce60e6707
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/b3/1c/42/0e26b8d512adc6bce10ff71a05229366b4ccec641cd3b42111
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.37
    Uninstalling SQLAlchemy-2.0.37:
      Successfully uninstalled SQLAlchemy-2.0.37
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
jupyterhub 5.2.1 requires SQLAlchemy>=1.4.1, but you have sqlalchemy 1.3.9 which is incompatible.
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
!pip install ipython-sql
!pip install ipython-sql prettytable

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.16.0-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: ipython in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (8.31.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading sqlalchemy-2.0.40-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /opt/conda/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure_eval in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading sqlalchemy-2.0.40-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.3/3.3 MB 127.0 MB/s eta 0:00:00
Downloading prettytable-3.16.0-py3-none-any.whl (33 kB)
Downloading sqlparse-0.5.3-py3-none-any.whl (44 kB)
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed ipython-sql-0.5.0 prettytable-3.16.0 sqlalchemy-2.0.40 sqlparse-0.5.3
Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.12/site-packages (3.16.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (8.31.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (2.0.40)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.12/site-packages (from prettytable) (0.2.13)
Requirement already satisfied: greenlet>=1 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /opt/conda/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure_eval in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (0.2.3)

In [3]:
%load_ext sql

In [4]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
!pip install -q pandas

In [6]:
%sql sqlite:///my_data1.db

In [7]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [8]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [9]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [12]:
import sqlite3

# Connect to your SQLite database
conn = sqlite3.connect('my_data1.db')  # Change this if you're using a different database system
cursor = conn.cursor()

# Run the SQL query to get unique launch sites
cursor.execute('SELECT DISTINCT "Launch_Site" FROM SPACEXTABLE')

# Fetch and print the results
launch_sites = cursor.fetchall()
for site in launch_sites:
    print(site)

# Close the connection
conn.close()

('CCAFS LC-40',)
('VAFB SLC-4E',)
('KSC LC-39A',)
('CCAFS SLC-40',)


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [14]:
import sqlite3

# Connect to your SQLite database (ensure the path to your database is correct)
conn = sqlite3.connect('my_data1.db')  # Replace with your actual database file
cursor = conn.cursor()

# Execute the SQL query to get 5 records where launch sites start with 'CCA'
cursor.execute('''
SELECT *
FROM SPACEXTABLE
WHERE "Launch_Site" LIKE 'CCA%'
LIMIT 5;
''')

# Fetch and display the results
records = cursor.fetchall()
for record in records:
    print(record)

# Close the connection
conn.close()

('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [16]:
import sqlite3

# Connect to your SQLite database (make sure to replace the path if needed)
conn = sqlite3.connect('my_data1.db')  # Replace with your actual database file
cursor = conn.cursor()

# Execute the SQL query to calculate the total payload mass for NASA (CRS)
cursor.execute('''
SELECT SUM("Payload_Mass_(kg)") AS total_payload_mass
FROM SPACEXTABLE
WHERE "Launch_Provider" = 'NASA (CRS)';
''')

# Fetch the result
total_payload_mass = cursor.fetchone()[0]

# Display the total payload mass
print(f"Total Payload Mass carried by boosters launched by NASA (CRS): {total_payload_mass} kg")

# Close the connection
conn.close()

Total Payload Mass carried by boosters launched by NASA (CRS): None kg

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [18]:
import sqlite3

# Connect to your SQLite database
conn = sqlite3.connect('my_data1.db')  # Replace with your actual database file
cursor = conn.cursor()

# Execute the SQL query to calculate the average payload mass for booster version F9 v1.1
cursor.execute('''
SELECT AVG("Payload_Mass_(kg)") AS average_payload_mass
FROM SPACEXTABLE
WHERE "Booster_Version" = 'F9 v1.1';
''')

# Fetch the result
average_payload_mass = cursor.fetchone()[0]

# Display the average payload mass
print(f"Average Payload Mass carried by booster version F9 v1.1: {average_payload_mass} kg")

# Close the connection
conn.close()

Average Payload Mass carried by booster version F9 v1.1: 0.0 kg

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [19]:
import sqlite3

# Connect to your SQLite database
conn = sqlite3.connect('my_data1.db')  # Replace with your actual database file
cursor = conn.cursor()

# Execute the SQL query to find the first successful landing date on a ground pad
cursor.execute('''
SELECT MIN("Date") AS first_successful_landing_date
FROM SPACEXTABLE
WHERE "Landing_Outcome" = 'Success (ground pad)';
''')

# Fetch the result
first_successful_landing_date = cursor.fetchone()[0]

# Display the result
print(f"First successful landing date on ground pad: {first_successful_landing_date}")

# Close the connection
conn.close()

First successful landing date on ground pad: 2015-12-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [23]:
import sqlite3

# Connect to your SQLite database
conn = sqlite3.connect('my_data1.db')  # Ensure this points to your actual SQLite database file
cursor = conn.cursor()

# Check the number of rows in SPACEXTABLE to ensure the table is not empty
cursor.execute("SELECT COUNT(*) FROM SPACEXTABLE")
row_count = cursor.fetchone()[0]
print(f"Total rows in SPACEXTABLE: {row_count}")

# If rows are found, proceed with the query
if row_count > 0:
    # Execute the SQL query to find booster versions with success on drone ship and payload mass between 4000 and 6000
    cursor.execute('''
    SELECT DISTINCT "Booster_Version"
    FROM SPACEXTABLE
    WHERE "Landing_Outcome" = 'Success (drone ship)'
      AND "Payload_Mass_(kg)" > 4000
      AND "Payload_Mass_(kg)" < 6000;
    ''')

    # Fetch the results
    boosters = cursor.fetchall()

    # Check if boosters were found and display the results
    if boosters:
        print("Boosters with success on drone ship and payload mass between 4000 and 6000:")
        for booster in boosters:
            print(booster[0])  # Print the booster version
    else:
        print("No boosters found with success on drone ship and payload mass between 4000 and 6000.")
else:
    print("The table SPACEXTABLE is empty.")

# Close the connection
conn.close()

Total rows in SPACEXTABLE: 101
No boosters found with success on drone ship and payload mass between 4000 and 6000.

### Task 7




##### List the total number of successful and failure mission outcomes

In [24]:
import sqlite3

# Connect to your SQLite database
conn = sqlite3.connect('my_data1.db')  # Ensure this points to your actual database file
cursor = conn.cursor()

# Execute the SQL query to count successful and failure mission outcomes
cursor.execute('''
SELECT "Landing_Outcome", COUNT(*) AS total_missions
FROM SPACEXTABLE
GROUP BY "Landing_Outcome";
''')

# Fetch the results
outcomes = cursor.fetchall()

# Display the total number of successful and failure mission outcomes
print("Total number of missions by outcome:")
for outcome in outcomes:
    print(f"{outcome[0]}: {outcome[1]} missions")

# Close the connection
conn.close()

Total number of missions by outcome:
Controlled (ocean): 5 missions
Failure: 3 missions
Failure (drone ship): 5 missions
Failure (parachute): 2 missions
No attempt: 21 missions
No attempt : 1 missions
Precluded (drone ship): 1 missions
Success: 38 missions
Success (drone ship): 14 missions
Success (ground pad): 9 missions
Uncontrolled (ocean): 2 missions

### Task 8



##### List all the booster_versions that have carried the maximum payload mass. Use a subquery.

In [25]:
import sqlite3

# Connect to your SQLite database
conn = sqlite3.connect('my_data1.db')  # Ensure this points to your actual database file
cursor = conn.cursor()

# Execute the SQL query to list booster versions with the maximum payload mass
cursor.execute('''
SELECT "Booster_Version"
FROM SPACEXTABLE
WHERE "Payload_Mass_(kg)" = (
    SELECT MAX("Payload_Mass_(kg)")
    FROM SPACEXTABLE
);
''')

# Fetch the results
boosters_with_max_payload = cursor.fetchall()

# Display the booster versions
print("Booster versions with the maximum payload mass:")
for booster in boosters_with_max_payload:
    print(booster[0])  # Print the booster version

# Close the connection
conn.close()

Booster versions with the maximum payload mass:
F9 v1.0  B0003
F9 v1.0  B0004
F9 v1.0  B0005
F9 v1.0  B0006
F9 v1.0  B0007
F9 v1.1  B1003
F9 v1.1
F9 v1.1
F9 v1.1
F9 v1.1
F9 v1.1
F9 v1.1 B1011
F9 v1.1 B1010
F9 v1.1 B1012
F9 v1.1 B1013
F9 v1.1 B1014
F9 v1.1 B1015
F9 v1.1 B1016
F9 v1.1 B1018
F9 FT B1019
F9 v1.1 B1017
F9 FT B1020
F9 FT B1021.1
F9 FT B1022
F9 FT B1023.1
F9 FT B1024
F9 FT B1025.1
F9 FT B1026
F9 FT B1029.1
F9 FT B1031.1
F9 FT B1030
F9 FT  B1021.2
F9 FT B1032.1
F9 FT B1034
F9 FT B1035.1
F9 FT  B1029.2
F9 FT B1036.1
F9 FT B1037
F9 B4 B1039.1
F9 FT B1038.1
F9 B4 B1040.1
F9 B4 B1041.1
F9 FT  B1031.2
F9 B4 B1042.1
F9 FT  B1035.2
F9 FT  B1036.2
F9 B4 B1043.1
F9 FT  B1032.2
F9 FT  B1038.2
F9 B4 B1044
F9 B4  B1041.2
F9 B4  B1039.2
F9 B4 B1045.1
F9 B5  B1046.1
F9 B4  B1043.2
F9 B4  B1040.2
F9 B4 B1045.2
F9 B5B1047.1
F9 B5B1048.1
F9 B5 B1046.2
F9 B5B1049.1
F9 B5 B1048.2
F9 B5 B1047.2
F9 B5 B1046.3
F9 B5B1050
F9 B5B1054
F9 B5 B1049.2
F9 B5 B1048.3
F9 B5B1051.1
F9 B5B1056.1
F9 B5 B1049.3
F9 B5 B1051.2
F9 B5 B1056.2
F9 B5 B1047.3
F9 B5 B1048.4
F9 B5B1059.1
F9 B5 B1056.3
F9 B5 B1049.4
F9 B5 B1046.4
F9 B5 B1051.3
F9 B5 B1056.4
F9 B5 B1059.2
F9 B5 B1048.5
F9 B5 B1051.4
F9 B5B1058.1
F9 B5 B1049.5
F9 B5 B1059.3
F9 B5B1060.1
F9 B5 B1058.2
F9 B5 B1051.5
F9 B5 B1049.6
F9 B5 B1059.4
F9 B5 B1060.2
F9 B5 B1058.3
F9 B5 B1051.6
F9 B5 B1060.3
F9 B5B1062.1
F9 B5B1061.1
F9 B5B1063.1
F9 B5 B1049.7
F9 B5 B1058.4

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [26]:
import sqlite3

# Connect to your SQLite database
conn = sqlite3.connect('my_data1.db')  # Ensure this points to your actual database file
cursor = conn.cursor()

# Execute the SQL query to get records with failure outcomes on drone ship in 2015, along with month names
cursor.execute('''
SELECT 
    CASE 
        WHEN substr("Date", 6, 2) = '01' THEN 'January'
        WHEN substr("Date", 6, 2) = '02' THEN 'February'
        WHEN substr("Date", 6, 2) = '03' THEN 'March'
        WHEN substr("Date", 6, 2) = '04' THEN 'April'
        WHEN substr("Date", 6, 2) = '05' THEN 'May'
        WHEN substr("Date", 6, 2) = '06' THEN 'June'
        WHEN substr("Date", 6, 2) = '07' THEN 'July'
        WHEN substr("Date", 6, 2) = '08' THEN 'August'
        WHEN substr("Date", 6, 2) = '09' THEN 'September'
        WHEN substr("Date", 6, 2) = '10' THEN 'October'
        WHEN substr("Date", 6, 2) = '11' THEN 'November'
        WHEN substr("Date", 6, 2) = '12' THEN 'December'
    END AS "Month",
    "Landing_Outcome", 
    "Booster_Version", 
    "Launch_Site"
FROM SPACEXTABLE
WHERE substr("Date", 0, 5) = '2015' 
  AND "Landing_Outcome" = 'Failure (drone ship)';
''')

# Fetch the results
records = cursor.fetchall()

# Display the records
print("Records of failure landing outcomes on drone ship in 2015:")
for record in records:
    print(f"Month: {record[0]}, Booster Version: {record[1]}, Launch Site: {record[2]}")

# Close the connection
conn.close()

Records of failure landing outcomes on drone ship in 2015:
Month: January, Booster Version: Failure (drone ship), Launch Site: F9 v1.1 B1012
Month: April, Booster Version: Failure (drone ship), Launch Site: F9 v1.1 B1015

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [27]:
import sqlite3

# Connect to your SQLite database
conn = sqlite3.connect('my_data1.db')  # Ensure this points to your actual database file
cursor = conn.cursor()

# Execute the SQL query to rank landing outcomes by count between the specified dates
cursor.execute('''
SELECT "Landing_Outcome", COUNT(*) AS total_count
FROM SPACEXTABLE
WHERE "Date" BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY "Landing_Outcome"
ORDER BY total_count DESC;
''')

# Fetch the results
outcomes = cursor.fetchall()

# Display the landing outcomes and their counts
print("Ranked landing outcomes between 2010-06-04 and 2017-03-20:")
for outcome in outcomes:
    print(f"{outcome[0]}: {outcome[1]} occurrences")

# Close the connection
conn.close()

Ranked landing outcomes between 2010-06-04 and 2017-03-20:
No attempt: 10 occurrences
Success (drone ship): 5 occurrences
Failure (drone ship): 5 occurrences
Success (ground pad): 3 occurrences
Controlled (ocean): 3 occurrences
Uncontrolled (ocean): 2 occurrences
Failure (parachute): 2 occurrences
Precluded (drone ship): 1 occurrences

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>